
.Container {
  padding: 2rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 250px auto; 
  grid-gap: 20px;
}

@media (max-width:748px){
  .Container{
    margin-top: 5rem;
    padding: 0;
    grid-template-columns: 113px auto; 
    grid-gap: 10px;
  }
}